@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

  font-family: 'Poppins', sans-serif;
  background-color: rgb(34, 34, 34)
}

.container {
    position: absolute;
    z-index: 1;
  max-width: 500px;
  overflow: auto;
  min-height: 300px;
  /* border: 1px solid rgb(111, 111, 111); */
  background-color: rgba(193, 186, 203, 0.331);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px) !important;
  padding: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}



.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

#me_wrapper {
    max-width: 550px;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
}

#me_header {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#me_cover{
    height: fit-content;
    border-radius: 50%;
    border: 5px solid rgb(54,1,63)
}

 #me_cover img {
    object-fit: cover;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    display: block;
    border: 3px solid transparent;
    /* border: 5px solid rgb(87, 8, 97) */
}

#me_info {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#me_info h1 {
    margin-bottom: 15px;
}

#me_info p {
    font-size: 18px;
    margin-bottom: 8px;
    color: rgb(33, 33, 33);
    line-height: 30px;
}

#me_info p i {
    margin-right: 8px;
    font-size: 18px;
    color: rgb(33, 33, 33);
}

#me_info p a{
    margin-right: 8px;
    font-size: 18px;
    color: rgb(33, 33, 33);
}

#me_info h3 {
    color:rgb(33, 33, 33);
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 10px;
}

.soc {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.soc a {
    color: #fff;
    background: rgb(33, 33, 33);
    padding: 5px 10px;
    font-size: 18px;
    border: 2px solid transparent;
    transition: 0.2s;
    text-decoration: none;
}

.soc a:hover {
    background: unset;
    color: rgb(54,1,63);
    border: 2px solid rgb(54,1,63);
}

#facebook {
    margin-top: 50px;
}

#facebook iframe{
    height: 1000px;
    width: 100%;
}

@media screen and (max-width: 540px) {
    #me_info h1 {
        font-size: 25px;
    }
}

@media screen and (max-width: 440px) {
    #me_info h1 {
        font-size: 22px;
    }
}

@media screen and (max-width: 390px) {
    #me_wrapper {
        padding: 10px 7px;
    }

    .soc {
        width: 280px;
    }
    
    #me_info h1 {
        font-size: 22px;
    }
}